<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.EmployeeMapper">

    <select id="selectAllEmployee1" resultType="org.example.entity.Employee">
        select * from t_emp
    </select>

    <!--
        resultMap：设置自定义映射关系
        id：唯一标识，不能重复
        type：设置要指定映射关系的实体类类型
        子标签：
            id：设置主键映射关系
            result：设置普通字段映射关系
            property：设置映射关系中的属性名，实体类的属性名
            column：数据库中对应的字段名
     -->
    <resultMap id="empResultMap" type="org.example.entity.Employee">
        <id property="id" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
    <!-- collection处理一对多关系 -->
    <!-- association处理多对一关系 -->
    </resultMap>

    <!-- resultMap自定义映射关系 -->
    <select id="selectAllEmployee" resultMap="empResultMap">
        select * from t_emp
    </select>

    <!--
        处理多对一映射关系方式一：级联属性赋值
     -->
    <resultMap id="empAndDeptResultMap" type="org.example.entity.Employee">
        <id property="id" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <!-- 级联属性赋值处理多对一关系 -->
        <result property="department.id" column="did"/>
        <result property="department.name" column="dept_name"/>
    </resultMap>

    <!--
        处理多对一映射关系方式二：association
        <association>标签中
            property：要映射的实体类的属性名
            javaType：对应的实体类类型
            子标签中：
                与resultMap同理
     -->
    <resultMap id="empAndDeptResultMapTwo" type="org.example.entity.Employee">
        <id property="id" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <!-- association标签 -->
        <association property="department" javaType="org.example.entity.Department">
            <id property="id" column="did"/>
            <result property="name" column="dept_name"/>
        </association>
    </resultMap>

    <!--
        处理多对一映射关系方式三：association 分步查询

     -->
    <resultMap id="empAndDeptResultMapTH" type="org.example.entity.Employee">
        <id property="id" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <!-- association标签 -->
        <association property="department" javaType="org.example.entity.Department">
            <id property="id" column="did"/>
            <result property="name" column="dept_name"/>
        </association>
    </resultMap>

    <!--  -->
    <select id="getEmployeeAndDeptById" resultMap="empAndDeptResultMapTwo">
        select * from t_emp
        left join t_dept
            on t_emp.did = t_dept.did
        where t_emp.eid = #{eid}
    </select>

    <!-- 分步查询员工信息 -->
    <resultMap id="empAndDeptByStepResultMap" type="org.example.entity.Employee">
        <id property="id" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <!-- association标签 -->
        <association property="department" select="" column="did">
            <id property="id" column="did"/>
            <result property="name" column="dept_name"/>
        </association>
    </resultMap>

    <select id="getEmployeeAndDeptByStep" resultMap="empAndDeptByStepResultMap">
        select * from t_emp where eid = #{eid}
    </select>
</mapper>