<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
</head>
<body>
    <h1>welcome to home</h1>
    <div th:text="${hello}"></div>
<hr/>
    <div th:text="${hello}"></div>
    <div th:utext="${hello}"></div>
<hr/>
<!--  th:each每次遍历都会生成一个h4标签,三个h4标签  -->
<h4 th:text="${user}" th:each="user:${users}"></h4>
<hr/>

<h4>
   <span th:inline="text" th:each="user:${users}">
<!--   [[]]等于th:text 会转译特殊字符    -->
       [[${user}]]
   </span>
</h4>

</body>
</html>